*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-width: auto;
}
.dark-mode {
  background-color: black;
  color: white;
}

body {
  font-size: 8px;
  font-family: serif Arial, Helvetica;
  padding: 0;
  line-height: 1.7;
  margin: 0;
  background-color: #e3f6f5;
  color: #272343;
  border: 9px solid #ffd803;
  min-width: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 2rem 6rem;
  height: 10rem;
  width: 100%;
}
.text-highlight {
  background-color: #ffd803;
  color: #fff;
  padding: 2px 7px;
}

.logo-container {
  width: 10rem;
  height: auto;
}

.logo {
  width: 100%;
}

.nav {
  width: 60%;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-item:hover {
  border-radius: 46%;
  padding: 0.4re 9rem;
  border: 3px solid #ffd803;
}

.nav-item {
  padding: 0.4rem;
  cursor: pointer;
  color: inherit;
}
.nav-link {
  font-size: 2.5rem;
  font-family: serif;
  font-weight: 700;
}

.nav-link:active,
:visited,
:link {
  color: currentColor;
  text-decoration: none;
}

header {
  padding: 3rem 7rem;
  height: 90vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-image-container {
  height: auto;
  width: 70rem;
  border-radius: 50%;
  border: 10rem dotted currentColor;
}

.hero-image {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.social-container {
  padding: 1rem 0.1.7rem;
}

.social-list {
  display: flex;
  justify-content: space-evenly;
}
.social-item {
  padding: 4px 7px;
}
.social-link {
  font-size: 2.2rem;
  color: #51384c;
  text-decoration: underline;
}

.hero-image {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.bio-container {
  flex: 70%;
}

.main-text {
  color: inherit;
  font-size: 6rem;
}
.sub-text {
  font-size: 2.8rem;
}

.section-container {
  padding: 2rem 5rem;
}

.about-container {
}

.about-main-text {
  font-size: 5em;
}
.about-sub-text {
  font-size: 2.5rem;
}

.about-main-text {
  font-size: 5rem;
}
.about-main-text-All {
  text-align: right;
  font-size: 2.5rem;
  padding: 2rem 4.5rem;
}

.article-list {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-evenly;
}

.article-featured {
  text-align: right;
  padding: 1rem 1.8rem;
  font-size: 2.6rem;
  font-weight: 600;
}

.article-paper:hover,
:active {
  background-color: #f4f4f4;
}

article-paper:link,
:visited {
  color: inherit;
}

.article-paper {
  background-color: #fffffe;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border: 3px solid #fff;
  box-shadow: 0 5px 8px -1px #1d1c1c1a, 0 4px 8px -1px #0707070f;
  margin-right: 1rem;
  text-align: center;
  color: #272343;
}

.paper-text-header {
  font-size: 2.6rem;
}

.paper-text-excerpts {
  font-size: 1.7rem;
  color: inherit;
}

.contact-container {
  text-align: center;
  padding: 1rem 5rem;
}

.contact-box {
  display: inline-block;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 2rem 8rem;
  background-color: #fff;
  color: #272343;
}

/* START OF  UTILITIES*/

.inline-block {
  display: inline-block;
}
.btn:hover {
  background-color: #bae8e8;
}

/* END OF  UTILITIES*/

.btn {
  font-size: 2.1rem;
  background-color: #4e4c5e;
  color: #fff;
  padding: 0.4rem 4.7rem;
  text-decoration: none;
  border-radius: 4px;
}

.contact-link {
  color: #272343;
  font-size: 2.5rem;
  padding: 1rem 5rem;
  text-decoration: none;
}

.footer-note {
  font-size: 2.5rem;
}

/*Toggle button*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border: 3px dotted #272343;
  background-color: #ffd803;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #272343;
}

input:focus + .slider {
  box-shadow: 0 0 1px #272343;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.scrollToTop {
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  cursor: pointer;
  bottom: 5%;
  right: 5%;
  z-index: 99;
  box-shadow: 0 5px 8px -1px rgba(29, 28, 28, 0.6), 0 4px 8px -1px #0707070f;
}

.arrow {
  font-size: 4rem;
  font-weight: bolder;
  color: #000;
}
